@media (width<480px) {
    #secondpage{
        height: 100%;
    }
    .menu{
        display: none;
    }
    .learn-more{
        width: 50%;
    }
    .page-title{
        width: 20%;
    }
    .about-imgs-container{
        flex-direction:column;
        width:80%;

    }
    .page-subtitle{
        width: 50%;
    }
    .nav-bar{
        display: none;
    }
     .nav-items{
        display: none;
    }
    .firstpage-mobile {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        align-items: center;

    }
    .firstpage-mobile > .arrows{
        display: inline;
        width: 3%;
    }
    .horizontal-line{
        display: none;
    }
    .about-rect{
        flex-direction: column;
        width: 100%;
        padding: 0;
        height: 20rem;

    }
    .numbers{
    color: white;
    font-weight: bold;
    font-size: clamp(0.1rem, 9vw, 4rem);
    text-transform: uppercase;
}
.under-text{
    color: white;
    font-weight: 250;
    font-size: clamp(0.1rem, 3vw, 1.3rem);
    text-transform: uppercase;
}
.lines{
    width:100%;
   border: 1px solid rgb(231, 229, 229);
   rotate: 90deg;
}
    .phone-image{
        display:none;
    }
    #fifthpage{
        display: none;
    }
     #sixthpage{
        display: none;
    }
    #ninthpage{
        height: 100%;
    }
    #tenthpage{
        height: 100%;
    }
    .ninth-content{
        flex-direction: column;
        width:80%;
        gap:1rem;
    }
    .subscribe{
        width: 90%;
    }
.eight-clients{
    flex-direction: column;
    width:80%;
    gap:1rem;
}
.eight-clients > img{
    width:100%
}
.copy-writes{
    width:40%
}
.open-map{
    display:none;
}
.contacts-imgs{
    padding-top: 2rem;
    flex-direction: column;
    width: 95%;
    gap:1rem;
    
}
.work-images{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-img{
    width: 100%;
}
#ninth-mobile-page .lorem-mobile{
    width: 90%;
}
#ninth-mobile-page{
    display: flex;
    flex-direction: column;
}
.contacts-imgs > img{
    width: 100%;
}
    .ninth-content > img{
        width:100%
    }
     #seventhpage{
        display: none;
    }
     #eigthpage{
        height: 100%;
        padding:1rem;
    }
    .tablet-image{
        width:100%;
    }
    .services{
        flex-direction:column;
        width:80%;
        gap:1rem;
        justify-content: center;
        align-items: center;
    }
    .service-img{
        width: 100%;
    }
    .title-content{
        padding-top:1rem;
        padding-bottom:1rem;
    }

    .about-image{
        width:100%
    }
    .header{
        width: 90%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .client-item{
        width: 90%;
    }
    .hamburger{
    width: 10%;
    height: 10%;
    aspect-ratio: 1;
    border: 2px solid #dcdada65;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20%;

}

.burger-lines{
    border: none;
    border-top: 2px solid #dcdada65;
    width: 80%;
}
.content-image{
    width: 70%;
}
.page1-welcome{
    display: none;
}

.page1-creative{
    padding-bottom: 1rem;

}
.learn-more-button{
width: 30%;
font-size: clamp(0.1rem, 2.5vw, 1rem);
border: 2px solid white;
padding: 0.2rem;


}
.blogs{
    width: 90%;
}
.instagram{
    width: 90%;
}
.blog-item{
    width: 100%;
}
.view-img{
    width: 50%;
}
}
@media (width<800px) {
    .services{
        flex-direction:column;
        width:80%;
        gap:1rem;
        justify-content: center;
        align-items: center;
    }
    .service-img{
        width: 10%;
    }
    .service-item{
        width: 100%;
    }
    .horizontal-line{
        display: none;
    }
    .item-lorem{
        font-size: clamp(0.1rem, 2vw, 0.6rem);
    }
    .item-title{
        font-size: clamp(0.1rem, 2vw, 0.8rem);
    }
    .numbers{
        font-size: clamp(0.5rem, 2vw, 1rem);

    }
    .under-text{
        font-size: clamp(0.5rem, 2vw, 0.7rem);

    }
     .six-content{
        flex-direction: column;
     }
    .fifth-content{
        flex-direction: column;
        width: 80%;
        gap: 1rem;
    }
    .eight-clients{
        width:80%;
        gap:1rem;
    }
    .fifth-image{
        width: 100%;
    }
    .fifth-text{
                width: 100%;

    }

}